.background {
    background-color: #070A2A;
}

.menu a {
    color: #070A2A;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: 500;

}

.menu a:hover {
    color: #207ef7;

}
#signout{
    margin: 0px 20px;
}