.Caption1{
    position: absolute;
    left: 90px;
    bottom: 500px;
   
}
.Caption1 h1{
    font-weight: 700;
    color: #0F1339;
    margin-bottom: 30px;
}
.Caption1 p{
    font-weight: 400;
    color: #4e4e4e;
    margin-bottom: 40px;

}
.btn-1{
    border-radius: 25px;
    font-size: 16px;
    padding: 13px 30px;
    background-color:#2883F2 ;
    border: none;
    
}