.banner-section {
    background-color: #F4DD60;
}

.first-section h1 {

    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.3em;

}

.first-section p {
    color: #23272b;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 80px;

}

.first-section {
    margin: auto;
    margin-right: -160px;
    margin-top: 45px;
    padding-bottom: 20px;
}

.about-me img {
    margin-top: -100px;
    margin-left: 120px;
}

.about-to p {
    color: #666;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 2px 5px;
    background-color: #F4DD60;
}

.about-to span {
    color: #212529;
    font-size: 40px;
    font-weight: 700;
}

.know-me h2 {
    font-size: 32px;
    font-weight: 500;
}

.know-me span {
    font-weight: 700;

    color: #333;
}

.know-me p {
    color: #212529;
    text-align: left;
    font-size: 21px;
    line-height: 1.8em;
    font-weight: 500;
    width: 700px;
}

.know-me .name {
    font-size: 16px;
    color: #6c757d;
}

.know-me .my-name {
    color: #343a40;
    font-size: 19px;
    font-weight: 500;
}

/* .future-goal p{
    
    
    ;
    
    width: 700px;
} */